<header class="header-page">
    <h1 class="title-page">Diário de estudos - Iugu for devs</h1>
    <br>
    <nav class="header-nav">
        <ul>
            <li><span class="material-icons">
                <%= link_to 'home', root_path %>
            </span></li>
        </ul>
    </nav>
</header>