<header class="header-page">
    <h1 class="title-page">Diário de estudos - iugu for devs</h1>
    <br>
    <nav class="header-nav">
        <ul>
            <li><%= link_to 'Inicio', root_path %></li>
            <li><%= link_to 'Adicionar', new_study_item_path() %></li>
        </ul>
    </nav>
</header>